/* Colors */
:root {
  --light-black: #212121;
  --white: #ffffff;
  --light-grey: #f5f5f5;
  --medium-grey: #a8a8a8;
  --grey: #696969;
  --dark-grey: #505050;
  --second-dark-grey: #4d4d4d;
}

/* General */
body {
  color: var(--light-black);
  font-family: "Open Sans", sans-serif;
  font-size: 1.125em;
}

section {
  padding-top: 4em;
  padding-bottom: 3em;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 3em;
  line-height: 1.5em;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.75em;
  color: var(--light-black);
  padding-bottom: 1em;
}

/* Navbar */
nav.navbar {
  background-color: var(--white);
}

a.navbar-brand {
  color: var(--light-black);
}

a.nav-link {
  color: var(--light-black);
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler span {
  width: 24px;
  height: 2px;
  margin-bottom: 4px;
  background-color: var(--light-black);
  display: block;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

/* Support Search Section*/

.support-search {
  background-color: var(--light-grey);
}

.form-control.search {
  border-radius: 0;
  line-height: 2.4em;
}

input.form-control.search::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: var(--medium-grey);
  font-size: 0.9em;
}
input.form-control.search::-moz-placeholder {
  /* Firefox 19+ */
  color: var(--medium-grey);
  font-size: 0.9em;
}
input.form-control.search:-ms-input-placeholder {
  /* IE 10+ */
  color: var(--medium-grey);
  font-size: 0.9em;
}
input.form-control.search:-moz-placeholder {
  /* Firefox 18- */
  color: var(--medium-grey);
  font-size: 0.9em;
}

.btn.search {
  color: var(--white);
  background-color: var(--grey);
  border-radius: 0;
  padding: 0.8em 1.8em;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
}

/* How it Works section */
section.how-it-works .container {
  background-color: var(--white);
  color: var(--grey);
}

section.how-it-works img {
  border-radius: 50%;
}

section.how-it-works p {
  padding-top: 1em;
}

section.how-it-works span {
  font-weight: bold;
  color: var(--dark-grey);
  font-size: 1.2em;
  font-family: "Roboto Condensed", sans-serif;
}

/* Search-City section*/
section.search-city {
  padding-top: 0;
}

section.search-city p.city {
  font-family: "Roboto Condensed", sans-serif;
  padding-top: 0.5em;
  font-size: 1.2em;
  color: var(--grey);
}

.load-more {
  margin-top: 1.5em;
}
.load-more p {
  text-transform: uppercase;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  color: var(--grey);
  border-top: 1px solid var(--medium-grey);
  border-bottom: 1px solid var(--medium-grey);
  width: 280px;
  display: block;
  margin: 0 auto;
  padding: 12px;
  font-weight: bold;
}

/* */

/* Media Queries*/
@media (min-width: 992px) {
  section.how-it-works {
    position: relative;
    bottom: 12em;
    height: 300px;
  }
  section.how-it-works .container {
    padding-top: 2.5em;
  }
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  nav.navbar {
    padding: 20px 60px;
  }
  .support-search {
    height: 500px;
  }
}

@media (max-width: 575px) {
  .btn.search {
    display: block;
    margin: 0 auto;
  }

  a.navbar-brand {
    order: 2;
  }

  section.how-it-works,
  section.search-city {
    text-align: center;
  }

  section.how-it-works img,
  section.search-city img {
    display: block;
    margin: auto;
  }
}
