@import "./../../css/variables.scss";

section.how-it-works {
  .container {
    background-color: $white;
    color: $medium-grey;
  }
  p {
    padding-top: 1.11rem;
    color: $light-black;
    font-family: $font-family-third;
    letter-spacing: -0.2px;
  }
}
section.how-it-works-mobile {
  background-color: $white;
  display: none;
  h4 {
    padding-bottom: 1rem;
    font-family: $font-family-second;
    font-weight: bold;
    font-size: 1.25rem;
    color: $orange;
  }
  p {
    font-size: 0.875rem;
    padding-top: 1rem;
  }
  span {
    font-size: 1rem;
    font-weight: bold;
  }
  .actions {
    .carousel-indicators {
      left: 0;
      top: auto;
      bottom: -25px;
      li {
        background: $green-2;
        border-radius: 50%;
        width: 8px;
        height: 8px;
        border: none;
      }
      .active {
        background: $orange;
      }
    }
  }
}
@media (min-width: 992px) {
  section.how-it-works {
    position: relative;
    top: -13.8rem;
    height: 300px;
    .container {
      position: relative;
      right: 5%;
      max-width: 90%;
      padding-top: 4rem;
      border-top-right-radius: 150px;
    }
  }
}
@media (max-width: 768px) {
  section.how-it-works-mobile {
    .action-item {
      &:first-of-type {
        padding-bottom: 3rem;
      }
    }
  }
  section.how-it-works {
    .container {
      padding: 0rem;
    }
  }
  .load-more {
    p {
      width: 85%;
    }
  }
}
@media (max-width: 575px) {
  section.how-it-works {
    padding-top: 0;
    display: none;
    text-align: center;
    img {
      display: block;
      margin: auto;
    }
  }
  section.how-it-works-mobile {
    display: block;
  }
}
