@import "./../../css/variables.scss";

section{
    &.submit-confirmation{
        margin-top: 2rem;
        height: 500px;
        background: url("/assets/adopt-my-shop-background.svg") no-repeat center left;
        background-position: left 0px bottom -1px;
        background-size: contain;
        h3{
            text-align: center;
        }
    }
}