@import "../../css/variables.scss";

.navbar {
  &.navbar-ams {
    padding-top: 2.2rem !important;
  }
  a.navbar-brand {
    img {
      width: 100%;
      &:hover {
        opacity: 0.6;
      }
    }
  }
  a.nav-link {
    color: $light-black;
    text-transform: uppercase;
    font-family: $font-family-third;
    font-weight: bold;
    font-size: 0.9rem;
    &:hover {
      color: $blue;
    }
  }
  .navbar-toggler {
    &:focus {
      outline: none;
    }
  }
}
@media (max-width: 992px) {
  .navbar {
    a.navbar-brand {
      img {
        width: 180px;
      }
    }
  }
}
@media (max-width: 575px) {
  .navbar {
    a.nav-link {
      font-size: 0.8rem;
    }
    a.navbar-brand {
      img {
        width: 130px;
      }
    }
    &.navbar-ams{
      padding-top: 1rem !important;
    }
  }
}
