@import "./variables.scss";

:root {
  font-size: $font-size-desktop;
}
body {
  color: $light-black;
  font-family: $font-family-primary;
  background-color: $white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}
section {
  padding-top: 4rem;
  padding-bottom: 3rem;
  h2 {
    font-family: $font-family-second;
    font-weight: bold;
    font-size: 1.75rem;
    color: $orange;
    padding-bottom: 1rem;
  }
}
p {
  font-size: 1.125rem;
}
button {
  cursor: pointer;
}
a {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
button.btn {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

@media (max-width: 768px) {
  :root {
    font-size: $font-size-mobile;
  }
}
@media (max-width: 575px) {
  section {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }
  footer {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }
}
