/* Colors */
$light-black: #272727;
$white: #ffffff;
$medium-grey: #a8a8a8;
$light-grey: #e2e2e2;
$grey: #767676;
$dark-grey: #343434;
$blue: #2f5fc7;
$green-1: #d6f4ef;
$green-2: #c5e7e2;
$green-3: #8cd8d5;
$green-4: #00beab;
$green-5: #c8e6e1;
$green-6: #c7e6e1;
$orange: #f7686c;
$pink: #ffcfd3;

/* Root Font-Size */
$font-size-desktop: 18px;
$font-size-mobile: 16px;

/* Font-Families */
$font-family-primary: "Open Sans", sans-serif;
$font-family-second: "Roboto", sans-serif;
$font-family-third: "Roboto Condensed", sans-serif;
