/* Colors */
$light-black: #292929;
$white: #ffffff;
$off-white: #fffdfa;
$light-grey: #f7f7f7;
$second-light-grey: #dedede;
$medium-grey: #a8a8a8;
$grey: #696969;
$dark-grey: #505050;
$second-dark-grey: #4a4a4a;

/* Root Font-Size */
$font-size-desktop: 18px;
$font-size-mobile: 16px;

/* Font-Families */
$font-family-primary: "Open Sans", sans-serif;
$font-family-second: "Roboto", sans-serif;
$font-family-third: "Roboto Condensed", sans-serif;
