@import '../../css/variables.scss';

footer {
	padding-top: 4rem;
	padding-bottom: 3rem;
	background-color: $light-black;
	.logo-footer {
		img {
			width: 62px;
		}
	}
	a.logo-footer {
		&:hover {
			opacity: 0.6;
		}
	}
	p {
		font-size: 0.875rem;
	}
	h4 {
		font-family: $font-family-third;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 1rem;
		color: $orange;
	}
	h5 {
		font-weight: bold;
		font-family: $font-family-second;
		color: $light-black;
		font-size: 1rem;
		color: $orange;
	}
	.first {
		h5 {
			text-transform: uppercase;
			font-family: $font-family-third;
			margin-bottom: 0;
		}
		p {
			font-size: 1rem;
			color: $dark-grey;
			font-weight: bold;
			color: $white;
		}
	}
	.second {
		p {
			color: $white;
		}
		a {
			text-decoration: underline;
			color: $pink;
			&:hover {
				color: $orange;
			}
		}
	}
}

@media (max-width: 575px) {
    footer {
        .first {
            padding-bottom: 1rem;
          }
    }
}

